{% extends "base.html.twig" %}

{% block main %}
    <h1 class="text-center">
        <a href="{{ path('teamPlayersStats', {teamId: game.homeTeam.id}) }}">{{ game.homeTeam.name }}</a>
        <span class="mx-2">{{ game.homeScore }} - {{ game.awayScore }}</span>
        <a href="{{ path('teamPlayersStats', {teamId: game.awayTeam.id}) }}">{{ game.awayTeam.name }}</a></h1>

    <hr class="my-4">

    {% for team in [game.homeTeam, game.awayTeam] %}
        <h2 class="text-2xl mb-2"><a href="{{ path('teamPlayersStats', {teamId: team.id}) }}">{{ team.name }}</a></h2>
        <div class="w-full max-w-full overflow-x-auto overflow-y-hidden mb-4">
            <table class="table table-striped stats-table table-orderable">
                <thead>
                <tr>
                    <th>Joueur</th>
                    <th>Min</th>
                    <th>PTS</th>
                    <th>2PR</th>
                    <th>2PT</th>
                    <th>2P%</th>
                    <th>3PR</th>
                    <th>3PT</th>
                    <th>3P%</th>
                    <th>TOTR</th>
                    <th>TOTT</th>
                    <th>TOT%</th>
                    <th>LFR</th>
                    <th>LFT</th>
                    <th>LF%</th>
                    <th>REBO</th>
                    <th>REBD</th>
                    <th>TOT</th>
                    <th>F</th>
                    <th>FPr</th>
                    <th>IN</th>
                    <th>BP</th>
                    <th>PD</th>
                    <th>Ctr</th>
                    <th>CtrSu</th>
                    <th>Ev</th>
                    <th>+/-</th>
                </tr>
                </thead>
                <tbody>
                {% for stat in boxscore %}
                    {% if stat.player.team is same as team %}
                        <tr>
                            <th><a href="{{ path('player', {playerId: stat.player.id}) }}">{{ stat.player.name }}</a></th>
                            <td>{{ stat.minutes }}</td>
                            <td>{{ stat.points }}</td>
                            <td>{{ stat.fgm2 }}</td>
                            <td>{{ stat.fga2 }}</td>
                            <td>{{ stat.fg2Percentage }}</td>
                            <td>{{ stat.fgm3 }}</td>
                            <td>{{ stat.fga3 }}</td>
                            <td>{{ stat.fg3Percentage }}</td>
                            <td>{{ stat.fgmTot }}</td>
                            <td>{{ stat.fgaTot }}</td>
                            <td>{{ stat.fgTotPercentage }}</td>
                            <td>{{ stat.ftm }}</td>
                            <td>{{ stat.fta }}</td>
                            <td>{{ stat.ftPercentage }}</td>
                            <td>{{ stat.offensiveRebound }}</td>
                            <td>{{ stat.defensiveRebound }}</td>
                            <td>{{ stat.rebound }}</td>
                            <td>{{ stat.foul }}</td>
                            <td>{{ stat.foulProvoked }}</td>
                            <td>{{ stat.steal }}</td>
                            <td>{{ stat.turnover }}</td>
                            <td>{{ stat.assist }}</td>
                            <td>{{ stat.block }}</td>
                            <td>{{ stat.blockReceived }}</td>
                            <td>{{ stat.efficiency }}</td>
                            <td>{{ stat.plusMinus }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}