{% extends "base.html.twig" %}

{% block main %}
    <table class="table table-orderable table-filterable">
        <caption>{{ players|length }} joueurs</caption>
        <thead>
        <tr>
            <th class="filterable">Nom</th>
            <th class="filterable">Equipe</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a href="{{ path('player', {playerId: player.id}) }}">{{ player.name }}</a></td>
                <td><a href="{{ path('teamPlayersStats', {teamId: player.team.id, method: 'AVG'}) }}">{{ player.team.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}