{% extends "base.html.twig" %}

{% block main %}
    <h1>{{ averages|length }} joueurs</h1>
    <div class="w-full max-w-full overflow-x-auto overflow-y-hidden">
        <table class="stats-table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Nb</th>
                <th>Min</th>
                <th>PTS</th>
                <th colspan="2">2PTS</th>
                <th>2PTS%</th>
                <th colspan="2">3PTS</th>
                <th>3PTS%</th>
                <th colspan="2">TOT</th>
                <th>TOT%</th>
                <th colspan="2">LF</th>
                <th>LF%</th>
                <th>REBO</th>
                <th>REBD</th>
                <th>TOT</th>
                <th>FT</th>
                <th>FP</th>
                <th>IN</th>
                <th>BP</th>
                <th>PD</th>
                <th>Ctr</th>
                <th>Ctr S</th>
                <th>Ev</th>
                <th>+/-</th>
            </tr>
            </thead>
            <tbody>
            {% for average in averages %}
                <tr>
                    <th>{{ average.player.name }}</th>
                    <td>{{ average.gamesPlayed }}</td>
                    <td>{{ average.minutes }}</td>
                    <td>{{ average.points }}</td>
                    <td>{{ average.fgm2 }}</td>
                    <td>{{ average.fga2 }}</td>
                    <td>{{ average.fg2Percentage }}</td>
                    <td>{{ average.fgm3 }}</td>
                    <td>{{ average.fga3 }}</td>
                    <td>{{ average.fg3Percentage }}</td>
                    <td>{{ average.fgmTot }}</td>
                    <td>{{ average.fgaTot }}</td>
                    <td>{{ average.fgTotPercentage }}</td>
                    <td>{{ average.ftm }}</td>
                    <td>{{ average.fta }}</td>
                    <td>{{ average.ftPercentage }}</td>
                    <td>{{ average.offensiveRebound }}</td>
                    <td>{{ average.defensiveRebound }}</td>
                    <td>{{ average.rebound }}</td>
                    <td>{{ average.foul }}</td>
                    <td>{{ average.foulProvoked }}</td>
                    <td>{{ average.steal }}</td>
                    <td>{{ average.turnover }}</td>
                    <td>{{ average.assist }}</td>
                    <td>{{ average.block }}</td>
                    <td>{{ average.blockReceived }}</td>
                    <td>{{ average.efficiency }}</td>
                    <td>{{ average.plusMinus }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}