{% extends "base.html.twig" %}

{% block main %}
    <div class="flex items-center justify-between mb-4">
        <h1>{{ stats|length }} joueurs</h1>
        <div class="btn-group">
            {% set slugs = app.request.attributes.get('_route_params') %}
            {% for method in calculationMethods %}
                <a href="{{ path('teamPlayersStats', {teamId: slugs.teamId, method: method.name}) }}" class="{{ slugs.method is same as method.name ? 'active' : ''}}">{{ method.value }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="w-full max-w-full overflow-x-auto overflow-y-hidden">
        <table class="table table-striped stats-table table-orderable" id="team-players-stats-table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Nb</th>
                <th>Min</th>
                <th>PTS</th>
                <th>2PR</th>
                <th>2PT</th>
                <th>2P%</th>
                <th>3PR</th>
                <th>3PT</th>
                <th>3P%</th>
                <th>TOTR</th>
                <th>TOTT</th>
                <th>TOT%</th>
                <th>LFR</th>
                <th>LFT</th>
                <th>LF%</th>
                <th>REBO</th>
                <th>REBD</th>
                <th>TOT</th>
                <th>FT</th>
                <th>FP</th>
                <th>IN</th>
                <th>BP</th>
                <th>PD</th>
                <th>Ctr</th>
                <th>CtrS</th>
                <th>Ev</th>
                <th>+/-</th>
            </tr>
            </thead>
            <tbody>
            {% for stat in stats %}
                <tr>
                    <th><a href="{{ path('player', {playerId: stat.player.id}) }}">{{ stat.player.name }}</a></th>
                    <td>{{ stat.gamesPlayed }}</td>
                    <td>{{ stat.minutes }}</td>
                    <td>{{ stat.points }}</td>
                    <td>{{ stat.fgm2 }}</td>
                    <td>{{ stat.fga2 }}</td>
                    <td>{{ stat.fg2Percentage }}</td>
                    <td>{{ stat.fgm3 }}</td>
                    <td>{{ stat.fga3 }}</td>
                    <td>{{ stat.fg3Percentage }}</td>
                    <td>{{ stat.fgmTot }}</td>
                    <td>{{ stat.fgaTot }}</td>
                    <td>{{ stat.fgTotPercentage }}</td>
                    <td>{{ stat.ftm }}</td>
                    <td>{{ stat.fta }}</td>
                    <td>{{ stat.ftPercentage }}</td>
                    <td>{{ stat.offensiveRebound }}</td>
                    <td>{{ stat.defensiveRebound }}</td>
                    <td>{{ stat.rebound }}</td>
                    <td>{{ stat.foul }}</td>
                    <td>{{ stat.foulProvoked }}</td>
                    <td>{{ stat.steal }}</td>
                    <td>{{ stat.turnover }}</td>
                    <td>{{ stat.assist }}</td>
                    <td>{{ stat.block }}</td>
                    <td>{{ stat.blockReceived }}</td>
                    <td>{{ stat.efficiency }}</td>
                    <td>{{ stat.plusMinus }}</td>
                </tr>
            {% endfor %}
            </tbody>
            {% if (teamStats) %}
                <tfoot>
                    <tr>
                        <th>{{ teamStats.team.name }}</th>
                        <td>{{ teamStats.gamesPlayed }}</td>
                        <td>{{ teamStats.minutes }}</td>
                        <td>{{ teamStats.points }}</td>
                        <td>{{ teamStats.fgm2 }}</td>
                        <td>{{ teamStats.fga2 }}</td>
                        <td>{{ teamStats.fg2Percentage }}</td>
                        <td>{{ teamStats.fgm3 }}</td>
                        <td>{{ teamStats.fga3 }}</td>
                        <td>{{ teamStats.fg3Percentage }}</td>
                        <td>{{ teamStats.fgmTot }}</td>
                        <td>{{ teamStats.fgaTot }}</td>
                        <td>{{ teamStats.fgTotPercentage }}</td>
                        <td>{{ teamStats.ftm }}</td>
                        <td>{{ teamStats.fta }}</td>
                        <td>{{ teamStats.ftPercentage }}</td>
                        <td>{{ teamStats.offensiveRebound }}</td>
                        <td>{{ teamStats.defensiveRebound }}</td>
                        <td>{{ teamStats.rebound }}</td>
                        <td>{{ teamStats.foul }}</td>
                        <td>{{ teamStats.foulProvoked }}</td>
                        <td>{{ teamStats.steal }}</td>
                        <td>{{ teamStats.turnover }}</td>
                        <td>{{ teamStats.assist }}</td>
                        <td>{{ teamStats.block }}</td>
                        <td>{{ teamStats.blockReceived }}</td>
                        <td>{{ teamStats.efficiency }}</td>
                        <td>{{ teamStats.plusMinus }}</td>
                    </tr>
                    <tr>
                        <th>Adversaires</th>
                        <td>{{ opponentTeamsStats.gamesPlayed }}</td>
                        <td>{{ opponentTeamsStats.minutes }}</td>
                        <td>{{ opponentTeamsStats.points }}</td>
                        <td>{{ opponentTeamsStats.fgm2 }}</td>
                        <td>{{ opponentTeamsStats.fga2 }}</td>
                        <td>{{ opponentTeamsStats.fg2Percentage }}</td>
                        <td>{{ opponentTeamsStats.fgm3 }}</td>
                        <td>{{ opponentTeamsStats.fga3 }}</td>
                        <td>{{ opponentTeamsStats.fg3Percentage }}</td>
                        <td>{{ opponentTeamsStats.fgmTot }}</td>
                        <td>{{ opponentTeamsStats.fgaTot }}</td>
                        <td>{{ opponentTeamsStats.fgTotPercentage }}</td>
                        <td>{{ opponentTeamsStats.ftm }}</td>
                        <td>{{ opponentTeamsStats.fta }}</td>
                        <td>{{ opponentTeamsStats.ftPercentage }}</td>
                        <td>{{ opponentTeamsStats.offensiveRebound }}</td>
                        <td>{{ opponentTeamsStats.defensiveRebound }}</td>
                        <td>{{ opponentTeamsStats.rebound }}</td>
                        <td>{{ opponentTeamsStats.foul }}</td>
                        <td>{{ opponentTeamsStats.foulProvoked }}</td>
                        <td>{{ opponentTeamsStats.steal }}</td>
                        <td>{{ opponentTeamsStats.turnover }}</td>
                        <td>{{ opponentTeamsStats.assist }}</td>
                        <td>{{ opponentTeamsStats.block }}</td>
                        <td>{{ opponentTeamsStats.blockReceived }}</td>
                        <td>{{ opponentTeamsStats.efficiency }}</td>
                        <td>{{ opponentTeamsStats.plusMinus }}</td>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    </div>
{% endblock %}
